.main_content_area {
    background-color: white;
    background-image: linear-gradient(to top left, #730020, #2B0040 80%);
    color: #FFFFFF;
    font-family: "Muli", sans-serif;
    background-attachment: fixed;
    overflow-x: hidden;
    margin: 0;
}

.page {
    min-height: 100vh;
}

.section {
    margin: 100px 30px;
    padding: 0 30px;
    border-top: #FFFFFF 1px solid;
}

a.custom {
    cursor: pointer;
    background: linear-gradient(to top left, #FF0000, #FEC400);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: transparent 2px solid;
    transition: border-bottom .5s;
}

a.custom:hover {
    border-bottom: white 2px solid;
    transition: border-bottom .5s;

}

button.custom {
    cursor: pointer;
    font-family: "Muli", sans-serif;
    padding: 15px;
    background-image: linear-gradient(to top left, #FF0000, #FEC400);
    border-color: #FFFFFF;
    color: white;
    font-size: 25px;
    margin: 5px;
    border-width: 3px;
    transition: margin .5s, border-width .5s;
    border-style: solid;
    border-radius: 10em;
}

button.custom:hover {
    margin: 0px;
    border-width: 8px;
    transition: margin .5s, border-width .5s;
}

button.custom:active {
    margin: 3px;
    border-width: 5px;
    transition: margin .1s, border-width .1s;
}

h1.custom, h2.custom, h3.custom, h4.custom, h5.custom, h6.custom {
    font-family: "Ledger", serif;
}

h1.custom {
    font-size: 10vh;
    margin: 20px;
    margin-left: 0px;
}

p.custom {
    font-size: 35px;
}


#hovercraft {
    position: absolute;
    top: calc(100vh - 40px);
    font-size: 35px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    animation: hover 1.5s ease-in-out 4.5s alternate infinite, fade_in 2s ease-in 4s forwards;
    opacity: 0;
}

@keyframes hover {
    from {
        top: calc(100vh - 60px);
    }
    to {
        top: calc(100vh - 80px);
    }
}


.rotate_anim:hover {
    transform: rotate(180deg);
    transition: transform 1s;
}


.circle_cropped {
    border-radius: 50%;
}

.highlighted {
    background: linear-gradient(to top left, #FF0000, #FEC400);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: transparent 2px solid;
    transition: border-bottom .5s;
}

.highlighted:hover {
    border-bottom: white 2px solid;
    transition: border-bottom .5s;

}

.rounded_corners {
    border-radius: 20px;
}