@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Mulish&display=swap');

.main_content_area {
    background-color: white;
    color: #000000;
    font-family: "Muli", sans-serif;
    background-attachment: fixed;
    overflow-x: hidden;
    margin: 0;
}

.page {
    min-height: 100vh;
}

.section {
    margin: 100px 30px;
    padding: 0 30px;
    border-top: #FFFFFF 1px solid;
}

a.custom {
    cursor: pointer;
    background: linear-gradient(to top left, #4fe87d, #4fe8c9);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: transparent 2px solid;
    transition: border-bottom .5s;
}

a.custom:hover {
    border-bottom: white 2px solid;
    transition: border-bottom .5s;

}

button.custom {
    background-image: linear-gradient(to top left, #4fe87d, #4fe8c9);
    background-blend-mode: multiply;
    background-color: #FFFFFF;
    color: #FFFFFF;
    font-weight: bold;
    border: #51e8a4 3px solid;
    border-radius: 10em;
    font-size: 20px;
    padding: 10px 12px;
    margin: 5px;
    transition: background-color .5s, border-width .5s, margin .5s;
    font-family: "Mulish", sans-serif;
}

button.custom:hover {
    background-color: #e7e7ff;
    margin: 0px;
    border-width: 8px;
    transition: background-color .5s, border-width .5s, margin .5s;
}

button.custom:active {
    background-color: #ccccdd;
    margin: 3px;
    border-width: 5px;
    transition: background-color .1s, border-width .1s, margin .1s;
}

h1.custom, h2.custom, h3.custom, h4.custom, h5.custom, h6.custom {
	font-family: "Crete Round", serif;
	font-weight: normal;
}

h1.custom {
    font-size: 10vh;
    margin: 20px;
    margin-left: 0px;
}

p.custom {
    font-size: 35px;
}


#hovercraft {
    position: absolute;
    top: calc(100vh - 40px);
    font-size: 35px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    animation: hover 1.5s ease-in-out 4.5s alternate infinite, fade_in 2s ease-in 4s forwards;
    opacity: 0;
}

@keyframes hover {
    from {
        top: calc(100vh - 60px);
    }
    to {
        top: calc(100vh - 80px);
    }
}


.rotate_anim:hover {
    transform: rotate(180deg);
    transition: transform 1s;
}


.circle_cropped {
    border-radius: 50%;
}

.highlighted {
    background: linear-gradient(to top left, #FF0000, #FEC400);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: transparent 2px solid;
    transition: border-bottom .5s;
}

.highlighted:hover {
    border-bottom: white 2px solid;
    transition: border-bottom .5s;

}

.rounded_corners {
    border-radius: 20px;
}